.job-option-wrapper {
	width: 100%;
	background-color: #fbfbfb;
	border-bottom: 1px solid #bbb;
	padding: 5px 10px;
	.job-title {
		h4 {
			font-size: 16px;
			margin-top: 3px;
			margin-bottom: 3px;
			a {
				color: #222;
				//font-weight: bold;
			}
		}
	}
	.job-date{
		color: #999;
	}
	.job-payment{
		color: #f95959;
		font-size: 14px;
	}
	.job-company {
		font-size: 14px;
		margin: 3px 0;
		color: #777;
	}
	.job-address {
		font-size: 12px;
		margin: 3px 0;
		color: #999;
	}
}

.job-wrapper{
	
}