* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	background-color: #f2f2f2;
}
body {
	font-family:"Microsoft YaHei", "微软雅黑";
	/*font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;*/
}
a, a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 10px;
}
h1, h2, h3 {
	margin: 20px 0 10px;
}

/* * clear float element */
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}

/* * header */
#header {
	position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #39454b;
	height: 3em;
	line-height: 3em;
	box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
	font-size: 19px;
}
#logo {
	float: left;
	padding-left: .5em;
	height: 100%;
	letter-spacing: -1px;
	margin: 0;
}
#logo a {
	font-size: .7em;
	font-family: 微软雅黑;
	color: #FFFFFF;
}
.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 10px;
	padding: 9px 10px;
	margin-top: 13px;
	margin-bottom: 13px;
	background-color: #f2f2f2;
	border: 1px solid transparent;
	border-radius: 5px;
	display: none;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #4f4f4f;
	margin: 3px 0;
}
#nav {
	float: right;
	padding-right: .5em;
}
#nav ul li {
	display: inline-block;
	margin-left: 0.5em;
	font-size: 0.9em;
}
#nav ul li a {
	display: block;
	color: inherit;
	height: 3em;
	line-height: 3em;
	padding: 0 0.5em 0 0.5em;
	outline: 0;
	font-family: 微软雅黑;
	color: #999;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-ms-transition: all 1s;
}
#nav ul li a.active, #nav ul li a:hover {
	color: #fff;
	font-weight: bold;
}

/* * content */
.content {
	width: 900px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px #d3d3d3;
	position: relative;
	padding: 45px 5px 5px 10px;
	margin-bottom: 20px;
}
.content:before {
	position: absolute;
	height: 45px;
	content: '';
	left: 10px;
	top: 10px;
	font-size: 1.5em;
	color: #619bf3;
}
.content.my-about {
}
.content.my-about:before {
	content: '校校团队';
}
.content.my-join:before {
	content: '我们需要的';
}
.content.my-contact:before {
	content: '联系我们';
}
.content.my-wedo:before {
	content: '我们能做的';
}
.content p {
	text-indent: 2em;
	font-size: 14px;
	color: rgb(51, 51, 51);
	font-weight: normal;
	line-height: 28px;
	font-family: ""
}

.content h2 {
	font-size: 1.5em;
}
.content>.contact {
	width: 50%;
	float: left;
	padding: 10px;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-icab-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.contact h3 {
	text-align: center;
	margin: 0 auto;
}
.contact h3 a {
	display: inline-block;
	width: 200px;
	height: 200px;
	text-align: center;
	color: #fff;
}
.contact p {
	text-align: center;
	text-indent: 0;
}
.my-job {
	margin-bottom: 30px;
}
.circle {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #98c593;
	/*box-shadow: 0 0 10px #98c593;*/
	/*text-shadow: 0 0 5px #f2f2f2;*/
	line-height: 200px;
	-webkit-transition: box-shadow 250ms ease-in 0ms, background-color 250ms ease-in 0ms;
	-moz-transition: box-shadow 250ms ease-in 0ms, background-color 250ms ease-in 0ms;
	-ms-transition: box-shadow 250ms ease-in 0ms, background-color 250ms ease-in 0ms;
	-o-transition: box-shadow 250ms ease-in 0ms, background-color 250ms ease-in 0ms;
	transition: box-shadow 250ms ease-in 0ms, background-color 250ms ease-in 0ms;
}
.circle:hover {
	color: #fff;
	background-color: #fb3e5f;
	/*box-shadow: 0 0 10px #fb3e5f;*/
}

/* * footer */
#footer {
	position: relative;
	line-height: 3em;
	margin: 0;
	background: #39454b;
	color: rgba(185, 186, 187, 0.5);
	overflow: hidden;
}
#footer a {
	color: #999;
	color: rgba(185, 186, 187, 0.5);
}
#footer a:hover {
	color: #bbb;
	color: rgba(185, 186, 187, 1.0);
}
#footer .actions {
	float: left;
	padding-left: 20px;
	height: 5em;
	line-height: 5em;
	margin: 0;
}
#footer .actions li {
	font-size: 1.25em;
	margin: 0;
	display: inline-block;
}
#footer .actions li a {
	padding: 0 .5em;
	text-decoration: none;
	background-repeat: no-repeat;
}
#footer .actions li a.weixin {
	background-image: url(../images/icon-footer_09_03.png);
}
#footer .actions li a.weibo {
	background-image: url(../images/icon-footer_09_05.png);
}
#footer .actions li a.qq {
	background-image: url(../images/icon-footer_09_07.png);
}
#footer .actions li a.renren {
	background-image: url(../images/icon-footer_09_09.png);
}
#footer .menu {
	float: right;
	padding-right: 20px;
	height: 5em;
	line-height: 5em;
	margin: 0;
}
#footer .menu li {
	font-size: 0.9em;
	display: inline-block;
	font-family: 微软雅黑;
	font-size: 14px;
}
#footer .menu li em {
	width: 10px;
	height: 100%;
}
@media all and (max-width:924px) {
	body {
		padding-top: 0px;
	}
	.content {
		width: 95%;
	}
}
@media all and (max-width:768px) {
	#nav {
		display: block;
		position: absolute;
		right: 0em;
		top: 3em;
		width: 100%;
		background-color: #56676d;
		overflow: hidden;
	}
	#nav li{
	display: block;
	width: 100%;
	border-bottom: 1px solid #39454b;
	}
	#nav ul li a{
		color:#999999;
	}
	.navbar-toggle {
		display: block;
	}
	#nav.nav-show {
		height: auto;
	}
	#nav.nav-hide {
		height: 0;
	}
	.content {
		width: 95%;
		border-radius: 10px;
	}
	.content>.contact {
		width: 100%;
	}
	#footer .actions, #footer .menu {
		float: none;
		width: 100%;
		text-align: center;
		padding: 0;
	}
}