* {
	margin: 0;
	padding: 0;
	outline: none;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	background-color: #f7f7f7;
}
body {
	color: #444;
	width: 100%;
	font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
::selection {
	background: #72d0eb;
	color: #fff;
	text-shadow: none
}
::-moz-selection {
	background: #72d0eb;
	color: #fff;
	text-shadow: none
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	color: green;
}
a, .search-form input, .org-add {
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}
ul, li {
	list-style: none;
}
.clearfix {
	overflow: hidden;
}
.clearfix:after {
	content: "";
	clear: both;
	display: none;
	visibility: hidden;
	overflow: hidden;
	height: 0;
}
.focus {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.focus img {
	max-width: 100%;
	max-height: 100%;
	border: none;
}
.loader {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(255, 255, 255, .5);
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/loading.gif);
}
.loader.on {
	display: block;
}

/* 消除display:inline-block的元素之间的间隙 */
.inline-block-wrapper {
	letter-spacing: -0.5em;
}
.inline-block-wrapper>.inline-block {
	letter-spacing: normal;
}
.xx-btn {
	color: #fff;
	background-color: #49d0f2;
}
.xx-btn:hover {
	background-color: #20b6db;
}

/* **登陆注册层 start** */
#Login_Box_Wrapper, #Signup_Box_Wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999;
	display: none;
}
#Login_Box_Wrapper.on, #Signup_Box_Wrapper.on {
	display: block;
}
.box {
	position: relative;
	width: 800px;
	height: 500px;
	background-color: #fff;
	margin: 50px auto 0;
	box-shadow: 1px 1px 5px #aaa;
}
#Login_Box .bg {
	position: relative;
	height: 230px;
	background-image: url(../images/index_03.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-size: 120%;
	-webkit-animation: move 10s 0s linear infinite;*/
}
@-webkit-keyframes  move {
	0% {
		background-position: 30% 50%;
	}
	/*25% {
		background-position: 50% 50%;
	}*/
	50% {
		background-position: 70% 50%;
	}
	/*75% {
		background-position: 50% 50%;
	}*/
	100% {
		background-position: 30% 50%;
	}
}
#Signup_Box .bg {
	position: relative;
	height: 100px;
	text-align: center;
	letter-spacing: -0.5em;
	padding-top: 30px;
}
.box .bg .close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	z-index: 9;
}
.box .bg .close span {
	font-size: 25px;
	color: #cdcdcd;
}
.box .bg .close:hover span {
	color: red;
}
.form-box {
	width: 100%;
}
#Signup_Box .form-box {
	padding-top: 30px;
}
.form-box .form {
	width: auto;
	text-align: right;
}
.form-box .form input {
	margin-right: 250px;
}
#Login_Box .form-box {
	height: 270px;
}
#Signup_Box .form-box {
	height: 400px;
	background-color: #f7f7f7;
}
#Signup_Box .form-row .btn-side {
	/* margin-left: 250px;
	*/
}
.form-row {
	line-height: 40px;
	margin-top: 20px;
	text-align: right;
}
.form-row span {
	color: #49d0f2;
	margin-right: 20px;
}
.form-row input {
	width: 300px;
	padding: 10px;
	outline: none;
	font-size: 16px;
}
.form-row input[type=password], .form-row input[type=text] {
	border: 1px solid #e6e6e6;
	background-color: #f0f0f0;
	color: #444;
}
.form-row input[type=password]:focus, .form-row input[type=text]:focus {
	border-color: #49d0f2;
}
.form-row input[type=submit] {
	border: none;
	background-color: #49d0f2;
	color: #fff;
	cursor: pointer;
}
.form-row input[type=submit][disabled] {
	background-color: #20b6db;
}
.form-row input[type=submit]:hover, .form-row input[type=submit]:focus, .form-row input[type=submit]:active {
	background-color: #20b6db;
}
.form-row.btn-wrapper {
	/* letter-spacing: 0em;
	*/
}
.form-row.btn-wrapper input, .form-row.btn-wrapper span, .form-row.btn-wrapper button {
	letter-spacing: normal;
}
.form-row.btn-wrapper input {
	margin-right: 0;
}
.form-row.btn-wrapper .btn-side {
	display: inline-block;
	width: 100px;
	margin-right: 150px;
	border: none;
	line-height: 40px;
	cursor: pointer;
	background-color: #49d0f2;
	outline: none;
	color: #f2f2f2;
	text-align: center;
	visibility: hidden;
}
.form-row.btn-wrapper .btn-side.on {
	visibility: visible;
}
.form-row.btn-wrapper .btn-side:hover {
	background-color: #20b6db;
}
.form-row.btn-wrapper .btn-side.disabled {
	background-color: #e6e6e6;
	cursor: wait;
	color: #aaa;
}
.login-help, .login-tip {
	margin-left: 250px;
	width: 300px;
	text-align: center;
}
.login-help {
	margin-top: -20px;
}
.login-help a {
	color: #49d0f2;
	font-size: 14px;
	margin: 0 3px;
}
.login-help a:hover {
	color: blue;
}
.login-help i {
	display: inline-block;
	width: 0;
	height: 10px;
	border-left: 1px solid #49d0f2;
}
.tip {
	margin-top: -20px;
	margin-bottom: -20px;
	display: none;
	text-align: center;
}
.tip.on {
	display: block;
	/* animation: fadeOut 5s;
	-webkit-animation: fadeOut 5s;
	-moz-animation: fadeOut 5s;
	-o-animation: fadeOut 5s;
	*/
}
.tip span {
	font-size: 14px;
	color: red;
}
#Signup_Box .bg button {
	letter-spacing: normal;
	display: inline-block;
	width: 150px;
	border: none;
	outline: none;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	background-color: #f0f0f0;
	color: #49d0f2;
	font-size: 18px;
}
#Signup_Box.for-phone .bg button.for-phone, #Signup_Box.for-email .bg button.for-email {
	background-color: #49d0f2;
	color: #fff;
}
#Signup_Box .form-box .form {
	display: none;
}
#Signup_Box.for-phone .form-box .form.for-phone, #Signup_Box.for-email .form-box .form.for-email {
	display: block;
}

/* ****登陆/注册层 end******* */
.header, .container, .footer {
	width: 100%;
	position: relative;
}

/* 头部、内容标题 */
.header, .header-wrapper, .inner-header {
	height: 60px;
	line-height: 60px;
	background-color: #49d0f2;
	color: #fff;
	font-size: 18px;
}
.header a, .header-wrapper a, .inner-header a {
	color: #fff;
}

/* 包裹容器--固定宽度 */
.wrapper {
	width: 960px;
	margin: 0 auto;
}

/* 用于将标题头部分成左右2部分 */
.header-left, .content-left1 {
	width: 270px;
	float: left;
	text-align: center;
	position: relative;
}
.header-right, .content-right1 {
	width: auto;
	margin-left: 270px;
	height: 60px;
}
.header-left h1 {
	font-size: 16px;
}

/* logo */
.logo-wrapper {
	text-align: left;
}
.nav-wrapper {
}
.header-nav {
	margin-right: 150px;
	width: auto;
}
.login-wrapper {
	width: 150px;
	float: right;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.login-wrapper i {
	display: inline-block;
	width: 0;
	height: 13px;
	border-left: 1px solid #fff;
}
.login-wrapper span {
	font-size: 14px;
	font-weight: normal;
}
.login-wrapper span:hover {
	text-decoration: underline;
	cursor: pointer;
}
ul.nav {
	text-align: right;
}
ul.nav>li {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	width: auto;
}
ul.nav>li>a {
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 14px;
}
ul.nav>li>a>span {
	padding: 7px 12px;
}
ul.nav>li>a.current>span {
	background-color: #fff;
	border-radius: 20px;
	color: #49d0f2;
}
ul.nav>li>a.current>span:hover {
	background-color: #f0f0f0;
}
ul.nav>li>a:hover {
	color: green;
}
.container {
	margin-top: 20px;
}
.org-content {
	border-bottom: 1px solid #cdcdcd;
	overflow: hidden;
	font-size: 14px;
}
.org-zone {
	cursor: pointer;
}
.org-zone>span:hover {
	color: #e6e6e6;
}
.org-zone .org-type-wrapper {
	position: absolute;
	top: 80px;
	background-color: #fff;
	cursor: auto;
	letter-spacing: -0.5em;
	box-shadow: 5px 5px 7px #aaa;
	z-index: 99;
}
.org-zone .org-type-wrapper.off {
	display: none;
}
.org-zone .org-type-wrapper.on {
	display: block;
}
.org-type-wrapper p {
	color: #959595;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: normal;
}
.org-type-wrapper span.org-type {
	display: inline-block;
	background-color: #49d0f2;
	width: 60px;
	line-height: 30px;
	padding: 0;
	font-size: 16px;
	margin: -10px 10px;
	letter-spacing: normal;
	cursor: pointer;
}
.org-type-wrapper span.org-type.current {
	background-color: #cccccc;
}
.org-else {
	text-align: right;
}
.org-else span {
	margin: 0 10px;
}
.org-add, .org-search {
	padding: 8px 15px;
	border-radius: 5px;
	background-color: #fff;
	color: #49d0f2;
}

/* .org-add {
	transition: background-color 1s, color 1s;
	-webkit-transition: background-color 1s, color 1s;
	-moz-transition: background-color 1s, color 1s;
	-o-transition: background-color 1s, color 1s;
}
*/
.org-add:hover {
	color: #fff;
	background-color: #cdcdcd;
}
.search-form {
	display: inline-block;
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(../images/01_27.png);
}
.search-form input {
	border: none;
	outline: none;
	width: 150px;
	font-size: 14px;
	color: #888;
}
.search-form input:focus {
	width: 200px;
}

/* .org-content {
	height: 780px;
}
*/
.org-list-wrapper, .activity-list-wrapper {
	height: 600px;
	position: relative;
}
.org-list li {
	height: 110px;
	border-bottom: 1px solid #e6e6e6;
	overflow: hidden;
	padding: 20px 0;
	background-color: #fff;
}
.org-list li.current {
	background-color: #f7f7f7;
}
.org-list li .focus {
	text-align: center;
	float: left;
	width: 80px;
	height: 80px;
	border: 2px solid #e5e5e5;
	margin-left: 20px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.org-list li .info {
	width: auto;
	margin-left: 120px;
	text-align: left;
}
.org-list li .focus img {
}
.org-list li .info .st-name h1 {
	line-height: 34px;
}
.org-list li .info  p {
	color: #777;
	line-height: 33px;
}
.st-level .level {
	font-size: 16px;
	color: #777;
}
.st-level .star {
	display: inline-block;
	width: 16px;
	height: 15px;
	margin-left: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/index_06.png);
}
.org-button-wrapper {
	height: 50px;
	line-height: 50px;
	background-color: #fff;
}
.org-button-wrapper button {
	color: #fff;
	font-size: 18px;
	background-color: #49d0f2;
	border-radius: 5px;
	padding: 8px 25px;
	border: none;
	outline: none;
	cursor: pointer;
}
.activity-list-wrapper {
	margin-left: 290px;
	background-color: #f7f7f7;
	overflow-y: auto;
}

/* 列表默认为隐藏 */
.activity-list {
	display: none;
}

/* 只有当前列表显示 */
.activity-list.current {
	display: block;
}
.activity-list li {
	border-bottom: 1px solid #49d0f2;
	padding-bottom: 20px;
}
.activity-list .activity-date {
	padding: 15px 0 6px;
}
.activity-list .activity-date span {
	color: #808080;
}
.activity-wrapper .focus {
	width: 225px;
	height: 150px;
	float: left;
	position: relative;
}
.activity-wrapper .focus img {
	width: 100%;
}
.activity-wrapper .info {
	width: auto;
	margin-left: 240px;
}
.activity-title {
	height: 25px;
	font-size: 16px;
}
.activity-context, .activity-address {
	overflow: hidden;
}
.activity-context {
	padding: 10px 0;
	color: #999;
	line-height: 20px;
	height: 100px;
	overflow: hidden;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	font-size: 13px;
}
.activity-address {
	color: #555;
	height: 25px;
	line-height: 25px;
	word-break: break-all;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.article-wrapper {
	/* background-color: #49d0f2;
	*/
}
.article-container {
	width: 50%;
	float: left;
	height: 220px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	margin-bottom: 1px;
}
.article-container.odd {
	padding-right: 10px;
}
.article-container.even {
	padding-left: 10px;
}
.article-container .focus {
	width: 200px;
	height: 150px;
	position: relative;
	float: left;
}
.article-container .focus .title-wrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: rgba(0, 0, 0, .7);
}
.article-container .focus .title-wrapper span {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	color: #fff;
	font-size: 13px;
}
.article-container .focus .title-wrapper span.title {
	width: 210px;
	padding-left: 10px;
}
.article-container .focus .title-wrapper span.date {
	width: 80px;
	text-align: right;
}
.article-container .info {
	width: auto;
	margin-left: 210px;
}
.article-list li {
	border-bottom: 1px solid #cdcdcd;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.article-container .info span {
	display: inline-block;
	line-height: 40px;
	height: 100%;
	overflow: hidden;
	font-weight: normal;
	font-size: 13px;
}
.article-container .info span.title {
	width: 155px;
	color: #555;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	transition: color 2s;
	-webkit-transition: color 2s;
	-moz-transition: color 2s;
	-o-transition: color 2s;
}
.article-container .info span.title:hover {
	color: #893fff;
}
.article-container .info span.date {
	width: 90px;
	margin-left: 10px;
	color: #999;
}
.footer {
	min-width: 1080px;
	height: 60px;
	line-height: 60px;
	background-color: #e6e6e6;
	margin-top: 50px;
	font-size: 10px;
	text-align: right;
}
.footer, .footer a {
	color: #9f9f9f;
}
.footer a:hover {
	color: blue;
}
.footer ul, .footer li {
	list-style: none;
	height: 100%;
}
.footer-nav, .footer-state {
	display: inline-block;
}
.footer-nav {
	width: 400px;
}
.footer-state {
	width: 540px;
}
.footer-nav {
	text-align: left;
}
.footer-state {
	text-align: right;
}
.footer li {
	display: inline-block;
	margin: 0 10px;
}