<div style="height:100%;background-color:rgb(255, 117, 0); position:fixed;overflow:auto;">
	<div class="g-vote-container" >
		<img src="/images/huali_singer_season2.jpg" />
		<div class="g-vote-header "></div>
		<div class="g-vote-footer">
			<div class="vote-description">
				<p style="color:#c24229;text-align:center;margin-bottom:10px;">爱Ta，就送Ta上十强直升舱吧～</p>
				<p style="font-size: 14px;line-height: 20px;">即日起到11月7日中午12点，你的投票将会决定20位选手中谁能直接<span style="color:#c24229;">晋级总决赛</span>! 登上八百人舞台！每人每天仅可投一次票喔。</p>

				<p class="warn">本次投票由校校团队提供，注册信息后即可进行投票。</p>
			</div>
			<div class="vote-btn-wrapper">
				<a href="javascript:void(0);" data-xx-action="goVote" class="btn-vote">开始投票</a>
			</div>
		</div>
	</div>
</div>