<div style="height:100%;background-color:rgb(255, 117, 0); position:fixed;overflow:auto;">
	<div class="g-vote-container" >
		<img src="/images/huali_singer_finals.jpg" />
		<div class="g-vote-header "></div>
		<div class="g-vote-footer">
			<div class="vote-description">
				<p style="color:#c24229;text-align:center;margin-bottom:10px;">华东理工大学“华理新声代”决赛将于11月18日在大活800人开赛。</p>
				<p style="font-size: 14px;line-height: 20px;">
					决赛当天从早上8：00至晚20:30将进行新声代“最佳人气奖”投票。你的投票将直接决定当晚最佳人气选手的诞生（三强将不参与评选）。
				</p>
				<p style="font-size: 14px;line-height: 20px;">带着音乐私奔，你最想遇见哪个Ta？</p>
				<p class="warn">本次投票由校校团队提供，注册信息后即可进行投票。</p>
			</div>
			<div class="vote-btn-wrapper">
				<a href="javascript:void(0);" data-xx-action="goVote" class="btn-vote">开始投票</a>
			</div>
		</div>
	</div>
</div>