.btn-vote {
	background-color: #f06060;
	color: #fff;
	width: 100%;
	border-radius: 5px;
	outline: none;
	&:hover {
		background-color: #f93636;
		border-color: #f93636;
		color: #fff;
	}
}
.btn-vote-back, .btn-back {
	background-color: $theme-color;
	color: #fff;
	width: 100%;
	border-radius: 5px;
	outline: none;
	&:hover {
		background-color: $theme-deep-color;
		border-color: $theme-deep-color;
		color: #fff;
	}
}

/* 活动页面下载按钮样式 */
.controller-wrapper {
	text-align: center;
	display: none;
	margin-bottom:20px;
	.btn-controller {
		background-color: $theme-color;
		color: #fff;
		width: 500px;
		border-radius: 2px;
		outline: none;
		&:hover {
			background-color: $theme-deep-color;
			border-color: $theme-deep-color;
			color: #fff;
		}
	}
}
button.xx-btn {
	@include border-radius(10px);
	color: $theme-color;
	background-color: #fff;
}
button.xx-btn-theme-color {
	background-color: $theme-color;
	color: #fff;
}
.btn-xx-theme {
	background-color: $theme-color;
	border-color: $theme-color;
	color: #fff;
	&:hover, &:visited {
		background-color: $theme-deep-color;
		border-color: $theme-deep-color;
		color: #fff;
	}
}
.btn-xx-danger {
	background-color: $danger-color;
	border-color: $danger-color;
	color: #fff;
	&:hover, &:visited {
		background-color: $danger-deep-color;
		border-color: $danger-deep-color;
		color: #fff;
	}
}
.btn-xx-large {
	width: 100%;
}
.w-p-50 {
	width: 50%;
}
.w-p-40 {
	width: 48%;
}
@media (max-width:786px) {
	.controller-wrapper {
		display: block;
		.btn-controller {
			width: 100%;
		}
	}
}