// font size helper
.helper-font-small{
	font-size : 11px;
}
.helper-font-16{
	font-size : 16px;
}
.helper-font-24{
	font-size : 24px;
}
.helper-font-32{
	font-size : 32px;
}
.helper-font-48{
	font-size : 48px;
}
.helper-font-64{
	font-size : 64px;
}