$theme-color: #49d0f2;
$deep-theme-color: #00bbd8;
$theme-deep-color: #00bbd8;
$danger-color: #ff5454;
$deep-danger-color: #ce0404;
$danger-deep-color: #ce0404;
$success-color: #75db59;
$page-width: 1080px;
$light-color: #aaa;
$heavy-color: #666;
$header-z-index: 9;
$header-height: 60px;
* {
	margin: 0;
	padding: 0;
	outline: none;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	background-color: #fff;
	font-size: 12px;
}
body {
	color: #444;
	width: 100%;
	font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
.body {
	//padding-top: 60px;
	//overflow: hidden;
	&.relative {
		padding-top: 0;
	}
}
::selection {
	background: #72d0eb;
	color: #fff;
	text-shadow: none
}
::-moz-selection {
	background: #72d0eb;
	color: #fff;
	text-shadow: none
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	color: green;
}
.animate {
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}
ul, li {
	list-style: none;
}
.clearfix {
	overflow: hidden;
}
.clearfix:after {
	content: "";
	clear: both;
	display: none;
	visibility: hidden;
	overflow: hidden;
	height: 0;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
//分隔符
.separator {
	position: relative;
	display: inline-block;
	width: 1px;
	height: 10px;
	color: #f2f2f2;
	margin: 0 3px;
	background-color: #f2f2f2;
}
//body
.header, .section, .footer {
	position: relative;
	width: 100%;
	min-width: $page-width;
}
.wrapper {
	width: $page-width;
	margin: 0 auto;
}
.container0 {
	margin-top: $header-height;
	padding-top: 10px;
	&.mobile {
		margin-top: 10px;
	}
}
// 图篇背景
.image-back {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.xx-theme-color {
	color: $theme-color;
}
.dark {
	background-color: #f7f7f7;
}
.xx-logo {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	&.xx-logo-40 {
		width: 40px;
		height: 40px;
	}
	&.xx-logo-50 {
		width: 50px;
		height: 50px;
	}
	&.xx-logo-60 {
		width: 60px;
		height: 60px;
	}
	&.xx-logo-80 {
		width: 80px;
		height: 80px;
	}
	&.xx-logo-100 {
		width: 100px;
		height: 100px;
	}
	&.xx-logo-120 {
		width: 120px;
		height: 120px;
	}
	&.circle {
		border-radius: 50%;
	}
}
.row {
	&.no-margin {
		margin: 0;
	}
}
.error {
	color: red;
}
//模糊
.blur {
	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
	-webkit-filter: blur(20px); /* Chrome, Opera */
	-moz-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=20, MakeShadow=false); /* IE6~IE9 */
}
.w-p-100 {
	width: 100%;
}
.off {
	display: none;
}