@media (max-width:1200px) {
	body {
		min-width: 0;
	}
	.wrapper, .container {
		&.responsive {
			width: 100%;
		}
	}
	.container {
		&.responsive {
			padding: 0 10px;
		}
	}
	.header, .section, .footer {
		&.responsive {
			min-width: 0;
		}
	}
	.p-content {
		&.responsive {
			width: 100%;
		}
	}
}
@media (max-width:786px) {
	.p-content {
		&.responsive {
			width: 100%;
			>.contact {
				width: 100%;
			}
		}
	}
}