.g-vote-container {
	width: 100%;
	position: relative;
	img {
		width: 100%;
		height: auto;
	}
	.g-vote-header {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		line-height: 30px;
		font-size: 18px;
		color: #fff;
		text-align: center;
		padding: 15px 10px;
	}
	.g-vote-footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		.vote-description {
			width: 90%;
			margin: 0 auto;
			padding: 5px 10px;
			background-color: rgba(255, 255, 255, 0.6);
			margin-bottom: 10px;
			color: #4A4848;
			font-size: 15px;
			line-height: 18px;
			border-radius: 4px;
			p {
				margin-bottom: 5px;
				&.warn {
					color: #115A08;
					font-weight: bold;
				}
			}
		}
		.vote-btn-wrapper {
			width: 100%;
			text-align: center;
			padding: 5px 0;
			img {
				width: 50%;
				border-radius: 14px;
				cursor: pointer;
			}
			.btn-vote {
				background-color: rgba(255, 255, 255, .7);
				color: #333;
				line-height: 36px;
				display: inline-block;
				width: 100px;
				color: #c24229;
				margin-bottom: 15px;
				&:hover{
					background-color:rgba(255,255,255,.3);
				}
			}
		}
	}
}
@media (min-width:786px) {
	.g-vote-container {
		width: 786px;
		margin: 0 auto;
	}
}