<footer class="footer {{pageType}}">
	<div class="wrapper clearfix {{pageType}}">
		<nav class="footer-nav pull-left">
			<ul>
				<li>
					<a href="about.html">关于我们</a>
				</li>
				<li>
					<a href="agreement.html">用户协议</a>
				</li>
				<li>
					<a href="#">意见反馈</a>
				</li>
				<li>
					<a href="helper.html">使用帮助</a>
				</li>
			</ul>
		</nav>
		<nav class="footer-state pull-right">
			<ul>
				<li>@2013 校校 All rights reserved 沪ICP备13039888号</li>
				<!-- <li>|</li> -->
				<li>Designed by M.Y.studio</li>
			</ul>
		</nav>
	</div>
</footer>