{{if !mobile}}
<header class="header web-header {{pageType}}">
	<div class="wrapper header-wrapper clearfix {{pageType}}">
		<div class="pull-left logo-wrapper">
			<a href="javascript:void(0);">
				<img src="images/logo-56x68.png" height="68" />
			</a>
		</div>
		<div class="pull-right nav-wrapper clearfix">
			<div class="login-wrapper pull-right" id="userBox">
				<a id="BTN_LOGIN" href="javascript:void(0);" data-xx-login-action="loginBox">登陆</a>
				<span class="separator"></span>
				<a id="BTN_SIGNUP" href="javascript:void(0);" data-xx-login-action="signupBox">注册</a>
			</div>
			<ul class="nav header-nav pull-left clearfix">
				<li>
					<a href="index.html">
						<span>首页</span>
					</a>
				</li>
				<li>
					<a href="join.html">
						<span>招聘</span>
					</a>
				</li>
				<li class="active">
					<a href="download.html" >
						<span>App下载</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</header>
{{/if}}