<div id="Signup_Box_Wrapper" class="login-box on" data-xx-login-action="">
	<div class="box for-phone" id="Signup_Box">
		<header class="bg">
			<div class="close" title="关闭" data-xx-login-action="closeSignupBox">
				<span>×</span>
			</div>
			<div>
				<button class="for-phone" data-xx-login-action="changeModule">手机注册</button>
				<button class="for-email" data-xx-login-action="changeModule">邮箱注册</button>
			</div>
		</header>
		<section class="form-box">
			<div  class="form for-phone">
				<div class="form-row">
					<div class="tip" id="Signup_Tip">
						<span>邮箱不能为空！</span>
					</div>
				</div>
				<div class="form-row">
					<span>手机号码</span>
					<input type="text" name="phone"  placeholder="输入您的手机号码" id="PHONENUM" />
				</div>
				<div class="form-row btn-wrapper">
					<span>验&nbsp;证&nbsp;码</span>
					<input type="text" name="authcode"  placeholder="输入手机收到的验证码" id="AUTHCODE" />
					<span id="authButton" class="btn-side"  data-xx-login-action="getAuthCode">获取验证码</span>
				</div>
				<div class="form-row">
					<span>输入密码</span>
					<input type="password" name="psw"  placeholder="输入密码（3-12位）" id="P_PWD" />
				</div>
				<div class="form-row">
					<span>确认密码</span>
					<input type="password" name="repsw"  placeholder="再次输入密码（3-12位）" id="P_REPWD" />
				</div>
				<div class="form-row">
					<input type="submit" id="P_Submit" value="注册" data-xx-login-action="signup_phone" />
				</div>
			</div>
			<div class="form for-email">
				<div class="form-row">
					<div class="tip" id="Signup_Tip2">
						<span>邮箱不能为空！</span>
					</div>
				</div>
				<div class="form-row">
					<span>邮箱地址</span>
					<input type="text" name="phone"  placeholder="输入您的邮箱地址" id="EMAIL" />
				</div>
				<div class="form-row">
					<span>输入密码</span>
					<input type="password" name="psw"  placeholder="输入密码（3-12位）" id="E_PWD" />
				</div>
				<div class="form-row">
					<span>确认密码</span>
					<input type="password" name="repsw"  placeholder="再次输入密码（3-12位）" id="E_REPWD" />
				</div>
				<div class="form-row">
					<input type="submit" id="E_Submit" value="注册并验证邮箱" data-xx-login-action="signup_email" />
				</div>
			</div>
		</section>
	</div>
</div>