<!-- application template -->
<!-- section header -->
{{include './partial/header'}}
<!-- section content -->
<section class="container responsive container0">
	<div class="p-content responsive">
		<h3>用户协议</h3>
		<p>欢迎使用校校！</p>
		<p>感谢您使用我们的产品和服务（下称“服务”）,服务由上海满翼信息科技有限公司旗下产品 校校 （下称“校校”） 提供。您使用我们的服务即表示您已同意本条款。请仔细阅读。</p>
		<p>使用服务</p>
		<p>您必须遵守服务中提供的所有政策。</p>
		<p>本条款并未授予您使用我们服务中所用的任何商标或标志的权利。请勿删除、隐藏或更改我们服务上显示的或随服务一同显示的任何法律声明。</p>
		<p>在您使用服务的过程中，我们可能会向您发送服务公告、管理消息和其他信息。</p>
		<p>校校帐号</p>
		<p>为了使用我们的某些服务，您可能需要一个校校帐号。您可以在校校移动客户端中创建自己的校校个人帐号或者由管理员（例如您所在的单位或教育机构）在校校后台管理系统中为您分配校校组织帐号。如果您使用的是由管理员分配的校校组织帐号，需要遵守《校校平台管理公约》，否则学校派驻的管理员有权停用您的帐号。</p>
		<p>无论是校校个人帐号还是组织帐号，当您的帐号成功开通后即表示您的行为必须遵循《校校平台管理公约》。</p>
		<p>如果您发现有人在未经授权的情况下使用了您的密码或帐号，请及时和我们联系。</p>
		<p>隐私与版权保护</p>
		<p>校校的隐私权政策介绍了您在使用我们的服务时，我们会如何处理您的个人数据和保护您的隐私。使用我们的服务即表示您同意校校可以按照我们的隐私权政策使用您的个人数据。</p>
		<p>我们会根据法律规定的流程，对涉嫌侵犯版权的通知作出回应并终止屡次侵权人的帐户。如果您认为有人侵犯了您的版权并希望通知我们，可以联系我们请求协助核实侵权行为，我们会根据《校校平台管理公约》做出相应的处理。</p>
		<p>如果您提交关于我们的服务的反馈或建议，我们可能会加以利用，但不对您承担任何义务。</p>
		<p>关于我们服务中的软件</p>
		<p>如果某项服务要求下载或包含可下载软件，该软件可能会在新版本或新功能推出时，在您的设备上自动更新。某些服务可能会允许您自行调整自动更新设置。</p>
		<p>修改和终止服务</p>
		<p>我们始终在不断更改和改进我们的服务。我们可能会增加或删除功能，也可能暂停或彻底停止某项服务。</p>
		<p>保证和免责声明</p>
		<p>我们在提供服务时将会尽到商业上合理水平的技能和注意义务，希望您会喜欢使用它们。但有些关于服务的事项恕我们无法作出承诺。</p>
		<p>除本条款或附加条款中明确规定的内容外，校校服务不作任何具体承诺。</p>
		<p>服务的责任</p>
		<p>在法律允许的范围内，校校不承担利润损失、收入损失或数据、财务损失或间接、特殊、后果性、惩戒性或惩罚性损害赔偿责任。</p>
		<p>在所有情况下，校校对于任何不能合理预见的损失或损害不承担责任。</p>
		<p>服务的商业使用</p>
		<p>如果您代表某家企业使用我们的服务，该企业必须接受本条款。对于因使用本服务或违反本条款而导致的或与之相关的任何索赔、起诉或诉讼，包括因索赔、损失、损害赔偿、起诉、判决、诉讼费和律师费而产生的任何责任或费用，该企业应对校校及其关联机构、管理人员、代理机构和员工进行赔偿并使之免受损害。</p>
		<p>关于本条款</p>
		<p>我们可以修改上述条款或任何适用于某项服务的附加条款，例如，为反映法律的变更或我们服务的变化而进行的修改。您应当定期查阅本条款。我们会在本网页上公布这些条款的修改通知。我们会在适用的服务中公布附加条款的修改通知。所有修改的适用不具有追溯力，且会在公布十四天或更长时间后方始生效。但是，对服务新功能的特别修改或由于法律原因所作的修改将立即生效。如果您不同意服务的修改条款，应停止使用服务。</p>

		<h3>《校校平台管理公约》</h3>
		<br />
		<p>1、	用户保证提供的信息真实、完整、符合国家有关互联网信息安全、知识产权等相关法律法规，严禁有危害国家安全、破坏民族团结、破坏国家宗教政策、破坏社会稳定、侮辱、诽谤、教唆、淫秽等内容的信息，不得有欺瞒、侵权和误导内容； </p>
		<p>2、	平台有权审查发布内容和表现形式，对不符合法律、法规的内容和表现形式，平台可要求用户做出修改，在用户做出修改前，平台有权拒绝发布。</p>
		<p>3、	平台有权根据自身网页的设计需求对用户在平台发布内容的页面布局进行合理调整。</p>
		<br />
		<p>附录：版本信息、功能更新/升级/修改或不另行通知，一旦您签订用户协议，我们则默认您认同此项条款。</p>

	</div>
</section>
<!-- section footer -->
{{include './partial/footer'}}