<section class="download-phone">
	<div class="wx-wrapper">
		<img src="../images/download/wx-tip.png" />
	</div>
	<div class="image-back logo-wrapper">
		<div class="wrapper">
			<div class="logo download-animation out">
				<img src="../images/download/ph-logo.png"></div>
		</div>
	</div>

	<div class="image-back phone-wrapper iphone out download-animation waiting">
		<!-- <a href="https://itunes.apple.com/cn/app/xiao-xiao-shou-kuan-xiao-yuan/id777475655?mt=8" target="_self" ></a>
	-->
	<a href="javascript:void(0);" target="_self" ></a>
</div>
<div class="image-back phone-wrapper android out download-animation">
	<a href="http://xiaoxiao.la/download/xiaoxiao4.apk" target="_self" ></a>
</div>
</section>