<!-- application template -->
<!-- section header -->
{{include './partial/header'}}
<section class="container container0 download responsive">
	<h2>点击图片或扫描二维码均可下载</h2>
	<div>
		<a href="http://xiaoxiao.la/download/xiaoxiao4.apk" target="_self" title="Android版">
			<dl>
				<dt>Android版</dt>
				<dd>
					<img src="images/default/xx-android-4.0.png" alt="android版校校app二维码" />
				</dd>
			</dl>
		</a>
		<a href="https://itunes.apple.com/cn/app/xiao-xiao-shou-kuan-xiao-yuan/id777475655?mt=8" target="_self" title="iphone版">
			<dl>
				<dt>iphone版</dt>
				<dd>
					<img src="images/default/xx-ios-4.0.png" alt="iphone版校校app二维码" />
				</dd>
			</dl>
		</a>
	</div>
</section>

<!-- section footer -->
{{include './partial/footer'}}