<!-- application template -->
<!-- section header -->
{{include './partial/header'}}
<section class="container download-pc">
	<div class="bg-outer image-back">
		<div class="bg-inner image-back"></div>
		<div class="btn-wrapper">
			<a href="http://xiaoxiao.la/download/xiaoxiao4.apk" target="_self" title="Android版">Android下载</a>
			<!-- <a href="https://itunes.apple.com/cn/app/xiao-xiao-shou-kuan-xiao-yuan/id777475655?mt=8" target="_self" title="iphone版">iPhone下载</a> -->
			<a href="javascript:void(0);" target="_self" title="iphone版">iPhone下载</a>
		</div>
	</div>
</section>
<!-- section footer -->
{{include './partial/footer'}}