<!-- application template -->
<!-- section header -->
{{include './partial/header'}}
<!-- section content -->
{{if stage=="drafting"}}
<section class="container container0">暂无此活动！</section>
{{else}}
<section class="container container0">
	<div class="wrapper popbox-wrapper responsive">
		<div class="imgbox image-back" style="background-image:url(api/event/{{eventId}}/poster/load),url('../images/default/101.jpg');">
			{{if category=="讲座"}}
			<span class="type-wrapper lecture">
				<span class="square">讲</span>
				<span class="triangle left"></span>
				<span class="triangle right"></span>
			</span>
			{{else if category=="演出"}}
			<span class="type-wrapper show">
				<span class="square">演</span>
				<span class="triangle left"></span>
				<span class="triangle right"></span>
			</span>
			{{else if category=="公益"}}
			<span class="type-wrapper benefit">
				<span class="square">益</span>
				<span class="triangle left"></span>
				<span class="triangle right"></span>
			</span>
			{{else if category=="赛事"}}
			<span class="type-wrapper competition">
				<span class="square">赛</span>
				<span class="triangle left"></span>
				<span class="triangle right"></span>
			</span>
			{{else if category=="聚会"}}
			<span class="type-wrapper lecture">
				<span class="square">聚</span>
				<span class="triangle left"></span>
				<span class="triangle right"></span>
			</span>
			{{else if category=="招新"}}
			<span class="type-wrapper attract">
				<span class="square">招</span>
				<span class="triangle left"></span>
				<span class="triangle right"></span>
			</span>
			{{else}}
			<span class="type-wrapper else">
				<span class="square">其</span>
				<span class="triangle left"></span>
				<span class="triangle right"></span>
			</span>
			{{/if}}
		</div>
	</div>
	<div class="wrapper xx-title-wrapper clearfix">
		<p>活动名称：{{name}}</p>
		<p>主办方：<a href="http://xiaoxiao.la/organization.html?oid={{organizationId}}">{{organizationName}}</a></p>
	</div>
</section>
<section class="container">
	<div class="wrapper article-wrapper responsive">
		<article  class="article-content">
			{{each descriptions as des i}}
			<p>{{des}}</p>
			{{/each}}
		</article>
		<footer class="article-footer">
			<p>开始时间：{{begin.$date}}</p>
			<p>结束时间：{{end.$date}}</p>
			<p>活动地址：{{location}}</p>
			<p>活动人数：{{numberOfPeople}}人</p>
			<p>活动类型：{{category}}</p>
		</footer>
	</div>
</section>
{{/if}}
<!-- section footer -->
{{include './partial/footer'}}