<!-- application template -->
<!-- section header -->
{{include './partial/header'}}
<!-- section content -->
<section class="container container0 responsive">
	<div class="wrapper responsive">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="userName" class="col-sm-2 control-label">用户名</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="userName" placeholder="手机号码/邮箱" />
					<span class="btn btn-success form-control" id="btn_auth_code" data-xx-action="getAuthCode" style="display:none;">获取验证码</span>
				</div>
			</div>
			<div class="form-group">
				<label for="authCode" class="col-sm-2 control-label">验证码</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="authCode" placeholder="请输入验证码" />
				</div>
			</div>
			<div class="form-group">
				<label for="newPassword" class="col-sm-2 control-label">密码</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="newPassword" placeholder="新密码" />
				</div>
			</div>
			<div class="form-group">
				<label for="reNewPassword" class="col-sm-2 control-label">确认密码</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="reNewPassword" placeholder="确认新密码" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" data-xx-action="resetPassword">找回密码</button>
				</div>
			</div>
		</form>
	</div>
</section>
<!-- section footer -->
{{include './partial/footer'}}