<!-- application template -->
<!-- section header -->
{{include './partial/header'}}
<!-- section content -->
<section class="container container0 responsive">
	<div class="wrapper responsive">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="userName" class="col-sm-2 control-label">用户名</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="userName" placeholder="手机号码/邮箱" />
				</div>
			</div>
			<!-- <div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">密码</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="inputPassword3" placeholder="Password" />
				</div>
			</div> -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">找回密码</button>
				</div>
			</div>
		</form>
	</div>
</section>
<!-- section footer -->
{{include './partial/footer'}}