<!-- application template -->
<!-- section header -->
{{include './partial/header'}}
<!-- section content -->
<section class="container container0 responsive">
	<div class="wrapper responsive">
		<div class="row no-margin">
			<div class="col-md-3">
				<div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" role="complementary">
					<ul class="nav bs-docs-sidenav">
						<li class="active">
							<a href="#org-manage">社团管理</a>
							<ul class="nav">
								<li class="active">
									<a href="#org-create">如何创建组织</a>
								</li>
								<li>
									<a href="#org-switch">如何切换组织</a>
								</li>
								<li>
									<a href="#org-edit">如何修改组织信息</a>
								</li>
								<li>
									<a href="#org-event-create">如何新建活动</a>
								</li>
								<li>
									<a href="#org-send-applyform">发申请表</a>
								</li>
								<li>
									<a href="#org-edit-userinfo">如何修改个人设置</a>
								</li>
							</ul>
						</li>
					</ul>
					<a class="back-to-top" href="#org-manage">返回顶部</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class="bs-docs-section">
					<h1 id="org-manage" class="page-header">社团管理</h1>

					<p class="lead">本系统致力于帮助社团管理活动、成员以及赞助等。</p>

					<h3 id="org-create">如何创建组织</h3>
					<div>
						<p>
							如果您暂无组织可在登录后点击页面右上角的“创建组织”按钮，在您输入组织名称之后点击确认即可完成组织创建，之后您有关组织的操作均可在进入我们的组织管理系统后实现。
						</p>
					</div>
					<div>
						<p>如果您的校校账号已经有可管理的组织，可在进入系统后创建更多的组织。如下图：</p>
						<img src="images/helper/1.jpg" width="100%" />
					</div>

					<h3 id="org-switch">如何切换组织</h3>
					<div>
						<p>在进入系统后默认操作您的第一个可管理组织，如果您有多个可管理组织可切换到其他组织上，具体操作如下：</p>
						<img src="images/helper/10.jpg" width="100%" />
					</div>
					<p>或者您也可以</p>
					<div>
						<img src="images/helper/11.jpg" width="100%" />
						<img src="images/helper/12.jpg" width="100%" />
					</div>

					<h3 id="org-edit">如何修改组织信息</h3>
					<div>
						<p>在系统中您可以编辑当前组织的基本信息：</p>
						<img src="images/helper/8.jpg" width="100%" />
						<img src="images/helper/9.jpg" width="100%" />
					</div>

					<h3 id="org-event-create">如何新建活动</h3>
					<div>
						<p>
							新建活动操作如下：
						</p>
						<img src="images/helper/13.jpg" width="100%" />
						<img src="images/helper/14.jpg" width="100%" />
						<img src="images/helper/15.jpg" width="100%" />
						<p>
							<span class="error">需要注意的是：活动编辑页中的“发布”按钮并不具有“保存”功能，所以当您编辑活动信息后请先执行“保存”操作。</span>
						</p>
					</div>
					<h3 id="org-send-applyform">发申请表</h3>
					<div>
						<img src="images/helper/16.jpg" width="100%" />
						<img src="images/helper/17.jpg" width="100%" />
						<img src="images/helper/18.jpg" width="100%" />
					</div>
					<h3 id="org-edit-userinfo">如何修改个人设置</h3>
					<div>
					<p>
						在系统中也可以编辑当前用户的个人信息，具体操作如下：
					</p>
						<img src="images/helper/19.jpg" width="100%" />
						<img src="images/helper/20.jpg" width="100%" />
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- section footer -->
{{include './partial/footer'}}