<!-- application template -->
<!-- section header -->
{{include './partial/header'}}
<!-- section content -->
<section id="doc">
	<div class="message"></div>
	<div id="bd">
		<div class="container clearfix">
			<!--<div class="world_box">
			-->
			<div class="container-padding">
				<!--推荐区域-->
				<div class="row shijue">
					<!--大图轮换start-->
					<div class="span8">
						<div id="sj-carousel">
							<ul class="carousel-image">
								<li class="active" style="display: none;">
									<a href="javascript:void(0);" class="sj-lunbo-image" title="" target="_blank">
										<img src="images/index/event/1.jpg" o_src="images/index/event/1.jpg" alt="" width="780px"></a>
								</li>
								<li class="" style="display: none;">
									<a href="javascript:void(0);" class="sj-lunbo-image" title="" target="_blank">
										<img src="images/index/event/2.jpg" o_src="images/index/event/2.jpg" alt="" width="780px"></a>
								</li>
								<li class="" style="display: none;">
									<a href="javascript:void(0);" class="sj-lunbo-image" title="" target="_blank">
										<img src="images/index/event/3.jpg" o_src="images/index/event/3.jpg" alt="" width="780px"></a>
								</li>
								<li class="" style="display: none;">
									<a href="javascript:void(0);" class="sj-lunbo-image" title="" target="_blank">
										<img src="images/index/event/4.jpg" o_src="images/index/event/4.jpg" alt="" width="780px"></a>
								</li>
								<li class="" style="display: list-item;">
									<a href="javascript:void(0);" class="sj-lunbo-image" title="" target="_blank">
										<img src="images/index/event/5.jpg" o_src="images/index/event/5.jpg" alt="" width="780px"></a>
								</li>
								<li class="" style="display: none;">
									<a href="javascript:void(0);" class="sj-lunbo-image" title="" target="_blank">
										<img src="images/index/event/6.jpg" o_src="images/index/event/6.jpg" alt="2014年世界最美的书" width="780px"></a>
								</li>
							</ul>
							<div class="carousel-buttons">
								<ul class="carousel-thumb clearfix">
									<li class="btn-prev">
										<a href="javascript:void(0);" title="上一个" class="">«</a>
									</li>
									<li class="node" index="0">
										<a target="_blank" class="img-link" href="javascript:void(0);">
											<img alt="" height="60" width="100" src="images/index/event/1.jpg"></a>
									</li>
									<li class="node" index="1">
										<a target="_blank" class="img-link" href="javascript:void(0);">
											<img alt="" height="60" width="100" src="images/index/event/2.jpg"></a>
									</li>
									<li class="node" index="2">
										<a target="_blank" class="img-link" href="javascript:void(0);">
											<img alt="" height="60" width="100" src="images/index/event/3.jpg"></a>
									</li>
									<li class="node" index="3">
										<a target="_blank" class="img-link" href="javascript:void(0);">
											<img alt="" height="60" width="100" src="images/index/event/4.jpg"></a>
									</li>
									<li class="node active" index="4">
										<a target="_blank" class="img-link" href="javascript:void(0);">
											<img alt="" height="60" width="100" src="images/index/event/5.jpg"></a>
									</li>
									<li class="node" index="5">
										<a target="_blank" class="img-link" href="javascript:void(0);">
											<img alt="" height="60" width="100" src="images/index/event/6.jpg"></a>
									</li>
									<li class="btn-next">
										<a href="javascript:void(0);" title="下一个" class="">»</a>
									</li>
								</ul>
							</div>
							<!--cache end-->
						</div>
					</div>
					<!--推荐文字-->
					<div class="span4 cv-index">
						<div class="list-group home-stick-list">
							<div class="list-group-item item-text clearfix">
								<h4 class="list-group-item-heading">
									<a href="javascript:void(0);" title="复旦诗社入驻校校" target="_blank">复旦诗社入驻校校...</a>
								</h4>
								<p class="list-group-item-text">
									<img src="images/index/organization/11.png" align="left" width="60" height="60" alt="">复旦诗社成立于1981年5月27日（校庆日）。 我们的口号是：“高调爱诗歌，低调爱复旦。” 第38任社长：王大乐</p>
							</div>
							<div class="list-group-item item-text clearfix">
								<h4 class="list-group-item-heading">
									<a href="javascript:void(0);" title="" target="_blank">复旦环球事务论坛入驻校校</a>
								</h4>
								<p class="list-group-item-text">
									<img src="images/index/organization/5.png" align="left" width="60" height="60" alt="">
									与复旦大学国际问题研究院、国际关系与公共事务学院、美国问题研究中心携手，组成一支强大的学术大军！我们全心全意，用最好的师资，为对...
								</p>
							</div>
							<div class="list-group-item item-text clearfix">
								<h4 class="list-group-item-heading">
									<a href="javascript:void(0);" title="" target="_blank">复旦星空讲坛入驻校校</a>
								</h4>
								<p class="list-group-item-text">
									<img src="images/index/organization/15.png" align="left" width="60" height="60" alt="">
									星空讲坛是复旦大学品牌讲座栏目。十年来，星空定位于“前沿”，结合专业与人文、社会、科技、学术，邀请成功人士、知名教授、学者与同学直...
								</p>
							</div>
							<div class="list-group-item item-text clearfix">
								<p class="" style="font-size:18px; text-align:center;line-height:70px;">
									已有
									<span class="xx-theme-color">210</span>
									家社团入驻
								</p>
							</div>
							<!--首页文字链接推荐-->
							<!-- <div class="list-group-item stick-text-link clearfix">
							<a href="javascript:void(0);" title="复旦大学青年法学会入驻校校" target="_blank">复旦大学青年法学会入驻校校</a>
							<a href="javascript:void(0);" title="复旦大学青年法学会入驻校校" target="_blank">复旦大学青年法学会入驻校校</a>
							<a href="javascript:void(0);" title="复旦大学青年法学会入驻校校" target="_blank">复旦大学青年法学会入驻校校</a>
							<a href="javascript:void(0);" title="复旦大学青年法学会入驻校校" target="_blank">复旦大学青年法学会入驻校校</a>
						</div>
						-->
					</div>
				</div>
			</div>
			<span class="blank20"></span>
			<!--大赛推荐-->
			<div class="row">
				<div class="list-group clearfix">
					<div class="span4">
						<div id="PAGE_AD_879492" width="380px" height="280px"></div>
					</div>
					<div class="span4">
						<div id="PAGE_AD_879491" width="380px" height="280px"></div>
					</div>
					<div class="span4">
						<div id="PAGE_AD_877584" width="380px" height="280px"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span12 HotOrg">
					<div class="list-group home-stick-list">
						<div class="list-group-item item-text clearfix HotOrg-container">
							<div class="HotOrg-Left-Selector">
								<h4 class="list-group-item-heading">热门组织</h4>
								<ul class="nav nav-org">
									<li class="active" data-index="0">
										<span>1</span>
									</li>
									<li data-index="1">
										<span>2</span>
									</li>
									<li data-index="2">
										<span>3</span>
									</li>
									<li data-index="3">
										<span>4</span>
									</li>
									<li data-index="4">
										<span>5</span>
									</li>
								</ul>
							</div>
							<div class="HotOrg-Right-Selector">
								<label class="pull-right title-word">
									<a class="text-link" title="学术" target="_blank" href="javascript:void(0);">学术</a>
									<a title="艺术" class="text-link" target="_blank" href="javascript:void(0);">艺术</a>
									<a class="text-link" title="体育" target="_blank" href="javascript:void(0);">体育</a>
									<a class="text-link" title="实践" target="_blank" href="javascript:void(0);">实践</a>
									<a title="公益" class="text-link" target="_blank" href="javascript:void(0);">公益</a>
									<a target="_blank" class="text-link" title="其他" href="javascript:void(0);">其他</a>

									<a href="javascript:void(0);">
										<span class="org-add" data-xx-action="createOrganization">+创建组织</span>
									</a>
								</label>
							</div>
							<div class="HotOrg-Img">
								<ul class="HotOrg-Img-List">
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/1.png" width="60" height="60" />
											<h4>复旦诗社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/2.png" width="60" height="60" />
											<h4>复旦博雅学社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/3.png" width="60" height="60" />
											<h4>复旦北辰文社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/4.png" width="60" height="60" />
											<h4>复旦青年法学会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/5.png" width="60" height="60" />
											<h4>复旦环球事物论坛</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/6.png" width="60" height="60" />
											<h4>复旦前程协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/7.png" width="60" height="60" />
											<h4>复旦管理咨询协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/8.png" width="60" height="60" />
											<h4>复旦极限运动协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/9.png" width="60" height="60" />
											<h4>复旦国标舞协会</h4>
										</a>
									</li>
									<li >
										<a href="javascript:void(0);">
											<img src="images/index/organization/10.png" width="60" height="60" />
											<h4>复旦麦田剧社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/1.png" width="60" height="60" />
											<h4>复旦诗社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/2.png" width="60" height="60" />
											<h4>复旦博雅学社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/3.png" width="60" height="60" />
											<h4>复旦北辰文社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/4.png" width="60" height="60" />
											<h4>复旦青年法学会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/5.png" width="60" height="60" />
											<h4>复旦环球事物论坛</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/6.png" width="60" height="60" />
											<h4>复旦前程协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/7.png" width="60" height="60" />
											<h4>复旦管理咨询协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/8.png" width="60" height="60" />
											<h4>复旦极限运动协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/9.png" width="60" height="60" />
											<h4>复旦国标舞协会</h4>
										</a>
									</li>
									<li style="margin-right:0;">
										<a href="javascript:void(0);">
											<img src="images/index/organization/10.png" width="60" height="60" />
											<h4>复旦麦田剧社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/1.png" width="60" height="60" />
											<h4>复旦诗社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/2.png" width="60" height="60" />
											<h4>复旦博雅学社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/3.png" width="60" height="60" />
											<h4>复旦北辰文社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/4.png" width="60" height="60" />
											<h4>复旦青年法学会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/5.png" width="60" height="60" />
											<h4>复旦环球事物论坛</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/6.png" width="60" height="60" />
											<h4>复旦前程协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/7.png" width="60" height="60" />
											<h4>复旦管理咨询协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/8.png" width="60" height="60" />
											<h4>复旦极限运动协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/9.png" width="60" height="60" />
											<h4>复旦国标舞协会</h4>
										</a>
									</li>
									<li style="margin-right:0;">
										<a href="javascript:void(0);">
											<img src="images/index/organization/10.png" width="60" height="60" />
											<h4>复旦麦田剧社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/1.png" width="60" height="60" />
											<h4>复旦诗社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/2.png" width="60" height="60" />
											<h4>复旦博雅学社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/3.png" width="60" height="60" />
											<h4>复旦北辰文社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/4.png" width="60" height="60" />
											<h4>复旦青年法学会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/5.png" width="60" height="60" />
											<h4>复旦环球事物论坛</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/6.png" width="60" height="60" />
											<h4>复旦前程协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/7.png" width="60" height="60" />
											<h4>复旦管理咨询协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/8.png" width="60" height="60" />
											<h4>复旦极限运动协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/9.png" width="60" height="60" />
											<h4>复旦国标舞协会</h4>
										</a>
									</li>
									<li style="margin-right:0;">
										<a href="javascript:void(0);">
											<img src="images/index/organization/10.png" width="60" height="60" />
											<h4>复旦麦田剧社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/1.png" width="60" height="60" />
											<h4>复旦诗社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/2.png" width="60" height="60" />
											<h4>复旦博雅学社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/3.png" width="60" height="60" />
											<h4>复旦北辰文社</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/4.png" width="60" height="60" />
											<h4>复旦青年法学会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/5.png" width="60" height="60" />
											<h4>复旦环球事物论坛</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/6.png" width="60" height="60" />
											<h4>复旦前程协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/7.png" width="60" height="60" />
											<h4>复旦管理咨询协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/8.png" width="60" height="60" />
											<h4>复旦极限运动协会</h4>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="images/index/organization/9.png" width="60" height="60" />
											<h4>复旦国标舞协会</h4>
										</a>
									</li>
									<li style="margin-right:0;">
										<a href="javascript:void(0);">
											<img src="images/index/organization/10.png" width="60" height="60" />
											<h4>复旦麦田剧社</h4>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="span3">
					<label class="h3 h3-link">
						<a href="javascript:void(0)">热门活动</a>
					</label>
				</div>
				<div class="span9">
					<label class="pull-right title-word">
						<!-- <a class="text-link" title="大师" target="_blank" href="/master">大师</a>
					<a title="专题" class="text-link" target="_blank" href="/topical/latest">专题</a>
					<a class="text-link" title="资讯" target="_blank" href="/news/0/latest">资讯</a>
					<a class="text-link" title="在线展览" target="_blank" href="/bloom_line">在线展览</a>
					<a title="专辑" class="text-link" target="_blank" href="/home/hot_album">专辑</a>
					<a target="_blank" class="text-link" title="影像影响" href="/vcenter/company/2511315">影像影响</a>
					-->
				</label>
			</div>
		</div>
		<div class="row" name="ajax_load_getty_down_box">
			<div class="span8">
				<div class="row">
					<div class="span4">
						<div class="list-group">
							<div class="thumbnail">
								<!--图片类别-->
								<a target="_blank" class="crop-image" href="javascript:void(0);">
									<span class="sj-index-lei">讲座</span>
									<img alt="遇见新自己" width="380"  style="width:380px;" src="images/index/event/1.jpg"></a>
								<div class="list-group-item caption">
									<h5>
										<a href="javascript:void(0);" title="">遇见新自己</a>
									</h5>
									<div class="author-info clearfix">
										<a title="视觉创意" class="author-avatar pull-left" target="_blank" href="javascript:void(0);">
											<img align="left" width="30" height="30" src="images/index/organization/1.png"></a>
										<a class="pull-left" target="_blank" href="javascript:void(0);">复旦大学学生会</a>
										<span class="pull-right created-at">9天前</span>
									</div>
								</div>
								<div class="list-group-item clearfix">
									<div class="stat-count pull-right clearfix">
										<span class="icon-label icon-sj-preview"></span>
										1753
										<span class="icon-label icon-sj-like"></span>
										0
										<span class="icon-label icon-sj-collect"></span>
										0
										<span class="icon-label icon-sj-comment"></span>
										2
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="list-group">
							<div class="thumbnail">
								<!--图片类别-->
								<a target="_blank" class="crop-image" href="javascript:void(0);">
									<span class="sj-index-lei">讲座</span>
									<img alt="《警笛》" width="380" height="280" style="width:380px;" src="images/index/event/2.jpg"></a>
								<div class="list-group-item caption">
									<h5>
										<a href="javascript:void(0);" title="">中国策划人的国际语境</a>
									</h5>
									<div class="author-info clearfix">
										<a title="" class="author-avatar pull-left" target="_blank" href="javascript:void(0);">
											<img align="left" width="30" height="30" src="images/index/organization/1.png"></a>
										<a class="pull-left" target="_blank" href="javascript:void(0);">复旦诗社</a>
										<span class="pull-right created-at">1天前</span>
									</div>
								</div>
								<div class="list-group-item clearfix">
									<div class="stat-count pull-right clearfix">
										<span class="icon-label icon-sj-preview"></span>
										458
										<span class="icon-label icon-sj-like"></span>
										1
										<span class="icon-label icon-sj-collect"></span>
										2
										<span class="icon-label icon-sj-comment"></span>
										0
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="list-group">
							<div class="thumbnail">
								<!--图片类别-->
								<a target="_blank" class="crop-image" href="javascript:void(0);">
									<span class="sj-index-lei">讲座</span>
									<img alt="Magazine Bit Holder 多功能改锥" width="380" height="280" style="width:380px;" src="images/index/event/3.jpg"></a>
								<div class="list-group-item caption">
									<h5>
										<a href="javascript:void(0);" title="">2012年经院人成长启航系列活动</a>
									</h5>
									<div class="author-info clearfix">
										<a title="" class="author-avatar pull-left" target="_blank" href="javascript:void(0);">
											<img align="left" width="30" height="30" src="images/index/organization/1.png"></a>
										<a class="pull-left" target="_blank" href="javascript:void(0);">复旦诗社</a>
										<span class="pull-right created-at">8天前</span>
									</div>
								</div>
								<div class="list-group-item clearfix">
									<div class="stat-count pull-right clearfix">
										<span class="icon-label icon-sj-preview"></span>
										1901
										<span class="icon-label icon-sj-like"></span>
										0
										<span class="icon-label icon-sj-collect"></span>
										6
										<span class="icon-label icon-sj-comment"></span>
										0
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="list-group">
							<div class="thumbnail">
								<!--图片类别-->
								<a target="_blank" class="crop-image" href="javascript:void(0);">
									<span class="sj-index-lei">赛事</span>
									<img alt="" width="380" height="280" style="width:380px;" src="images/index/event/4.jpg"></a>
								<div class="list-group-item caption">
									<h5>
										<a href="javascript:void(0);" title="">复旦大学第十二届新生之星决赛</a>
									</h5>
									<div class="author-info clearfix">
										<a title="" class="author-avatar pull-left" target="_blank" href="javascript:void(0);">
											<img align="left" width="30" height="30" src="images/index/organization/1.png"></a>
										<a class="pull-left" target="_blank" href="javascript:void(0);">复旦诗社</a>
										<span class="pull-right created-at">19 小时前</span>
									</div>
								</div>
								<div class="list-group-item clearfix">
									<div class="stat-count pull-right clearfix">
										<span class="icon-label icon-sj-preview"></span>
										1272
										<span class="icon-label icon-sj-like"></span>
										1
										<span class="icon-label icon-sj-collect"></span>
										2
										<span class="icon-label icon-sj-comment"></span>
										0
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--row-->
			</div>
			<!--span8-->
			<!-- end cache-->
			<div class="span4">
				<div class="row">
					<div class="span4">
						<div class="list-group">
							<div class="thumbnail">
								<!--图片类别-->
								<a target="_blank" class="crop-image" href="javascript:void(0);">
									<span class="sj-index-lei">演讲</span>
									<img alt="" width="380" height="280" style="width:380px;" src="images/index/event/16.jpg"></a>
								<div class="list-group-item caption">
									<h5>
										<a href="javascript:void(0);" title="">卢卡奇论现代社会的合理性与非合理性</a>
									</h5>
									<div class="author-info clearfix">
										<a title="寞沫" class="author-avatar pull-left" target="_blank" href="javascript:void(0);">
											<img align="left" width="30" height="30" src="http://avatar.shijue.cvidea.cn/tf/110418/2171828/50f6200ee744f90ee3000198.jpg"></a>
										<a class="pull-left" target="_blank" href="javascript:void(0);">寞沫</a>
										<span class="pull-right created-at">1天前</span>
									</div>
								</div>
								<div class="list-group-item clearfix">
									<div class="stat-count pull-right clearfix">
										<span class="icon-label icon-sj-preview"></span>
										922
										<span class="icon-label icon-sj-like"></span>
										0
										<span class="icon-label icon-sj-collect"></span>
										2
										<span class="icon-label icon-sj-comment"></span>
										0
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="list-group">
							<div class="thumbnail">
								<!--关键词-->
								<a target="_blank" class="crop-image" href="javascript:void(0);">
									<span class="sj-index-lei">赛事</span>
									<img alt="华盖素材下载：麦田" width="380" height="280" style="width:380px;" src="images/index/event/6.jpg"></a>
								<div class="down_btn_show" ad_id="53f54c353dfae9b703006347" name="ajax_load_getty_btn" fid="422628">
									<a href="" class="ajax-request" onclick="show_login()">
										<div class="blank_getty">
											<span class="sj-index-spanjs">复旦大学</span>
										</div>
									</a>
								</div>
								<div class="list-group-item caption">
									<h5>
										<a href="javascript:void(0);" title="">复旦大学十大歌手大赛</a>
									</h5>
									<div class="author-info clearfix">
										<a title="寞沫" class="author-avatar pull-left" target="_blank" href="javascript:void(0);">
											<img align="left" width="30" height="30" src="http://avatar.shijue.cvidea.cn/tf/110418/2171828/50f6200ee744f90ee3000198.jpg"></a>
										<a class="pull-left" target="_blank" href="javascript:void(0);">寞沫</a>
										<span class="pull-right created-at">2 小时前</span>
									</div>
								</div>
								<div class="list-group-item clearfix">
									<span class="pull-left icon-label icon-sj-download" title="可下载"></span>
									<div class="stat-count pull-right clearfix">
										<span class="icon-label icon-sj-preview"></span>
										829
										<span class="icon-label icon-sj-like"></span>
										0
										<span class="icon-label icon-sj-collect"></span>
										0
										<span class="icon-label icon-sj-comment"></span>
										0
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end cache-->
		</div>
		<div class="row">
			<div class="span3">
				<label class="h3 h3-link">
					<a href="javascript:void(0)">最新活动</a>
				</label>
			</div>
			<div class="span9">
				<label class="pull-right title-word">
					<!-- <a class="text-link" title="大师" target="_blank" href="/master">大师</a>
				<a title="专题" class="text-link" target="_blank" href="/topical/latest">专题</a>
				<a class="text-link" title="资讯" target="_blank" href="/news/0/latest">资讯</a>
				<a class="text-link" title="在线展览" target="_blank" href="/bloom_line">在线展览</a>
				<a title="专辑" class="text-link" target="_blank" href="/home/hot_album">专辑</a>
				<a target="_blank" class="text-link" title="影像影响" href="/vcenter/company/2511315">影像影响</a>
				-->
			</label>
		</div>
	</div>

	<div class="row" name="ajax_load_getty_down_box">
		<div class="span8">
			<div class="row">
				<div class="span4">
					<div class="list-group">
						<div class="thumbnail">
							<!--图片类别-->
							<a target="_blank" class="crop-image" href="javascript:void(0);">
								<span class="sj-index-lei">讲座</span>
								<img alt="遇见新自己" width="380"  style="width:380px;" src="images/index/event/1.jpg"></a>
							<div class="list-group-item caption">
								<h5>
									<a href="javascript:void(0);" title="">遇见新自己</a>
								</h5>
								<div class="author-info clearfix">
									<a title="视觉创意" class="author-avatar pull-left" target="_blank" href="javascript:void(0);">
										<img align="left" width="30" height="30" src="images/index/organization/1.png"></a>
									<a class="pull-left" target="_blank" href="javascript:void(0);">复旦大学学生会</a>
									<span class="pull-right created-at">9天前</span>
								</div>
							</div>
							<div class="list-group-item clearfix">
								<div class="stat-count pull-right clearfix">
									<span class="icon-label icon-sj-preview"></span>
									1753
									<span class="icon-label icon-sj-like"></span>
									0
									<span class="icon-label icon-sj-collect"></span>
									0
									<span class="icon-label icon-sj-comment"></span>
									2
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="list-group">
						<div class="thumbnail">
							<!--图片类别-->
							<a target="_blank" class="crop-image" href="javascript:void(0);">
								<span class="sj-index-lei">摄影</span>
								<img alt="《警笛》" width="380" height="280" style="width:380px;" src="images/index/event/2.jpg"></a>
							<div class="list-group-item caption">
								<h5>
									<a href="javascript:void(0);" title="">中国策划人的国际语境</a>
								</h5>
								<div class="author-info clearfix">
									<a title="" class="author-avatar pull-left" target="_blank" href="javascript:void(0);">
										<img align="left" width="30" height="30" src="images/index/organization/1.png"></a>
									<a class="pull-left" target="_blank" href="javascript:void(0);">复旦诗社</a>
									<span class="pull-right created-at">1天前</span>
								</div>
							</div>
							<div class="list-group-item clearfix">
								<div class="stat-count pull-right clearfix">
									<span class="icon-label icon-sj-preview"></span>
									458
									<span class="icon-label icon-sj-like"></span>
									1
									<span class="icon-label icon-sj-collect"></span>
									2
									<span class="icon-label icon-sj-comment"></span>
									0
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="list-group">
						<div class="thumbnail">
							<!--图片类别-->
							<a target="_blank" class="crop-image" href="javascript:void(0);">
								<span class="sj-index-lei">讲座</span>
								<img alt="Magazine Bit Holder 多功能改锥" width="380" height="280" style="width:380px;" src="images/index/event/3.jpg"></a>
							<div class="list-group-item caption">
								<h5>
									<a href="javascript:void(0);" title="">2012年经院人成长启航系列活动</a>
								</h5>
								<div class="author-info clearfix">
									<a title="" class="author-avatar pull-left" target="_blank" href="javascript:void(0);">
										<img align="left" width="30" height="30" src="images/index/organization/1.png"></a>
									<a class="pull-left" target="_blank" href="javascript:void(0);">复旦诗社</a>
									<span class="pull-right created-at">8天前</span>
								</div>
							</div>
							<div class="list-group-item clearfix">
								<div class="stat-count pull-right clearfix">
									<span class="icon-label icon-sj-preview"></span>
									1901
									<span class="icon-label icon-sj-like"></span>
									0
									<span class="icon-label icon-sj-collect"></span>
									6
									<span class="icon-label icon-sj-comment"></span>
									0
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="list-group">
						<div class="thumbnail">
							<!--图片类别-->
							<a target="_blank" class="crop-image" href="javascript:void(0);">
								<span class="sj-index-lei">赛事</span>
								<img alt="" width="380" height="280" style="width:380px;" src="images/index/event/4.jpg"></a>
							<div class="list-group-item caption">
								<h5>
									<a href="javascript:void(0);" title="">复旦大学第十二届新生之星决赛</a>
								</h5>
								<div class="author-info clearfix">
									<a title="" class="author-avatar pull-left" target="_blank" href="javascript:void(0);">
										<img align="left" width="30" height="30" src="images/index/organization/1.png"></a>
									<a class="pull-left" target="_blank" href="javascript:void(0);">复旦诗社</a>
									<span class="pull-right created-at">19 小时前</span>
								</div>
							</div>
							<div class="list-group-item clearfix">
								<div class="stat-count pull-right clearfix">
									<span class="icon-label icon-sj-preview"></span>
									1272
									<span class="icon-label icon-sj-like"></span>
									1
									<span class="icon-label icon-sj-collect"></span>
									2
									<span class="icon-label icon-sj-comment"></span>
									0
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--row-->
		</div>
		<!--span8-->
		<!-- end cache-->
		<div class="span4">
			<div class="row">
				<div class="span4">
					<div class="list-group">
						<div class="thumbnail">
							<!--图片类别-->
							<a target="_blank" class="crop-image" href="javascript:void(0);">
								<span class="sj-index-lei">演讲</span>
								<img alt="" width="380" height="280" style="width:380px;" src="images/index/event/16.jpg"></a>
							<div class="list-group-item caption">
								<h5>
									<a href="javascript:void(0);" title="">卢卡奇论现代社会的合理性与非合理性</a>
								</h5>
								<div class="author-info clearfix">
									<a title="寞沫" class="author-avatar pull-left" target="_blank" href="javascript:void(0);">
										<img align="left" width="30" height="30" src="http://avatar.shijue.cvidea.cn/tf/110418/2171828/50f6200ee744f90ee3000198.jpg"></a>
									<a class="pull-left" target="_blank" href="javascript:void(0);">寞沫</a>
									<span class="pull-right created-at">1天前</span>
								</div>
							</div>
							<div class="list-group-item clearfix">
								<div class="stat-count pull-right clearfix">
									<span class="icon-label icon-sj-preview"></span>
									922
									<span class="icon-label icon-sj-like"></span>
									0
									<span class="icon-label icon-sj-collect"></span>
									2
									<span class="icon-label icon-sj-comment"></span>
									0
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="list-group">
						<div class="thumbnail">
							<!--关键词-->
							<a target="_blank" class="crop-image" href="javascript:void(0);">
								<span class="sj-index-lei">赛事</span>
								<img alt="华盖素材下载：麦田" width="380" height="280" style="width:380px;" src="images/index/event/6.jpg"></a>
							<div class="down_btn_show" ad_id="53f54c353dfae9b703006347" name="ajax_load_getty_btn" fid="422628">
								<a href="" class="ajax-request" onclick="show_login()">
									<div class="blank_getty">
										<span class="sj-index-spanjs">复旦大学</span>
									</div>
								</a>
							</div>
							<div class="list-group-item caption">
								<h5>
									<a href="javascript:void(0);" title="">复旦大学十大歌手大赛</a>
								</h5>
								<div class="author-info clearfix">
									<a title="寞沫" class="author-avatar pull-left" target="_blank" href="javascript:void(0);">
										<img align="left" width="30" height="30" src="http://avatar.shijue.cvidea.cn/tf/110418/2171828/50f6200ee744f90ee3000198.jpg"></a>
									<a class="pull-left" target="_blank" href="javascript:void(0);">寞沫</a>
									<span class="pull-right created-at">2 小时前</span>
								</div>
							</div>
							<div class="list-group-item clearfix">
								<span class="pull-left icon-label icon-sj-download" title="可下载"></span>
								<div class="stat-count pull-right clearfix">
									<span class="icon-label icon-sj-preview"></span>
									829
									<span class="icon-label icon-sj-like"></span>
									0
									<span class="icon-label icon-sj-collect"></span>
									0
									<span class="icon-label icon-sj-comment"></span>
									0
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end cache-->
	</div>
	<!--ajax load stick_designer-->
	<div id="stick_designer_box" status="0"></div>
	<!--品牌联盟-->
	<!--cache start-->
	<!-- <div class="row">
	<div class="span3">
		<label class="h3">品牌联盟</label>
	</div>
</div>
<div class="row">
	<div class="span12">
		<ul class="sj-league clearfix">
			<li>
				<a href="http://www.perdesigncn.com/" target="_blank" title="品物——策略型设计领导者">
					<img width="180" height="80" src="http://advertise.shijue.cvidea.cn/tf/140306/2323488/53182b693dfae9bda7000003.jpeg"></a>
			</li>
			<li>
				<a href="http://dfi.bnuz.edu.cn/" target="_blank" title="多元培养广告、新媒体人才">
					<img width="180" height="80" src="http://advertise.shijue.cvidea.cn/tf/140306/2323488/53182b413dfae9b707000003.jpeg"></a>
			</li>
			<li>
				<a href="http://www.ziyang100.com/" target="_blank" title="紫阳伙伴 品牌设计">
					<img width="180" height="80" src="http://advertise.shijue.cvidea.cn/tf/140306/2323488/53182b133dfae9b060000003.jpeg"></a>
			</li>
			<li>
				<a href="http://www.c-c-c.cn/" target="_blank" title="三匚创意集团">
					<img width="180" height="80" src="http://advertise.shijue.cvidea.cn/tf/140721/2343207/53ccb4083dfae96e91000001.jpeg"></a>
			</li>
			<li>
				<a href="http://www.dongdao.net/" target="_blank" title="东道设计">
					<img width="180" height="80" src="http://advertise.shijue.cvidea.cn/tf/140306/2323485/531824183dfae95b4a000003.jpeg"></a>
			</li>
			<li>
				<a href="http://www.gupeng.com/" target="_blank" title="顾鹏设计－秉持度身定造">
					<img width="180" height="80" src="http://advertise.shijue.cvidea.cn/tf/140306/2323487/531828d73dfae95826000003.jpeg"></a>
			</li>
			<li>
				<a href="http://www.zocdesign.net/" target="_blank" title="卓奇设计- 全心设计体验">
					<img width="180" height="80" src="http://advertise.shijue.cvidea.cn/tf/140306/2323487/531829443dfae96d9e000003.jpeg"></a>
			</li>
			<li>
				<a href="http://www.faceui.com/" target="_blank" title="FaceUI">
					<img width="180" height="80" src="http://advertise.shijue.cvidea.cn/tf/140306/2323487/531829723dfae975f5000003.jpeg"></a>
			</li>
			<li>
				<a href="http://www.yang-design.com/" target="_blank" title="杨明洁设计顾问机构">
					<img width="180" height="80" src="http://advertise.shijue.cvidea.cn/tf/140306/2323487/531829993dfae97d0e000003.jpeg"></a>
			</li>
		</ul>
	</div>
</div>
-->
<div class="row">
	<div class="span3">
		<label class="h3">合作高校</label>
	</div>
</div>
<div class="row">
	<div class="span12">
		<ul class="sj-league clearfix">
			<li>
				<a href="javascript:void(0);" target="_blank" title="上海外国语大学">
					<img width="80" height="80" src="images/index/organization/sh_wai.png"></a>
			</li>
			<li>
				<a href="javascript:void(0);" target="_blank" title="上海师范大学">
					<img width="80" height="80" src="images/index/organization/sh_shi.png"></a>
			</li>
			<li>
				<a href="javascript:void(0);" target="_blank" title="复旦大学">
					<img width="80" height="80" src="images/index/organization/fudan.png"></a>
			</li>
			<li>
				<a href="javascript:void(0);" target="_blank" title="上海财经大学">
					<img width="80" height="80" src="images/index/organization/sh_cai.png"></a>
			</li>
			<li>
				<a href="javascript:void(0);" target="_blank" title="上海对外经贸大学">
					<img width="80" height="80" src="images/index/organization/sh_jing.png"></a>
			</li>
			<li>
				<div style="height:80px;line-height:80px; padding:0 10px; background-color:#fff;">更多学校正在入驻中...</div>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span3" style="width:auto;">
		<label class="h3">合作社团</label>
	</div>
</div>
<div class="row">
	<div class="span12">
		<ul class="sj-league clearfix">
			<li>
				<a href="javascript:void(0);" target="_blank" title="复旦国学社">
					<img width="80" height="80" src="images/index/organization/1.png"></a>
			</li>
			<li>
				<a href="javascript:void(0);" target="_blank" title="复旦博雅学社">
					<img width="80" height="80" src="images/index/organization/2.png"></a>
			</li>
			<li>
				<a href="javascript:void(0);" target="_blank" title="复旦北辰文社">
					<img width="80" height="80" src="images/index/organization/3.png"></a>
			</li>
			<li>
				<a href="javascript:void(0);" target="_blank" title="复旦青年法学会">
					<img width="80" height="80" src="images/index/organization/4.png"></a>
			</li>
			<li>
				<a href="javascript:void(0);" target="_blank" title="复旦环球事务论坛">
					<img width="80" height="80" src="images/index/organization/5.png"></a>
			</li>
			<li>
				<a href="javascript:void(0);" target="_blank" title="复旦前程协会">
					<img width="80" height="80" src="images/index/organization/6.png"></a>
			</li>
			<li>
				<a href="javascript:void(0);" target="_blank" title="复旦管理咨询协会">
					<img width="80" height="80" src="images/index/organization/7.png"></a>
			</li>
			<li>
				<a href="javascript:void(0);" target="_blank" title="复旦极限运动协会">
					<img width="80" height="80" src="images/index/organization/8.png"></a>
			</li>
			<li>
				<div style="height:80px;line-height:80px; padding:0 10px; background-color:#fff;">更多社团正在入驻中...</div>
			</li>
		</ul>
	</div>
</div>
</div>
<!--</div>--></div>
</div>
</section>
<!-- section footer -->
{{include './partial/footer'}}