<!-- application template -->
<!-- section header -->
{{include './partial/header'}}
<!-- section content -->
<section class="container container0">
		<div class="p-content my-join">
			<div class="my-job">
				<h2>技术总监</h2>
				<div>
					<p>职位描述：</p>
					<p>1、负责起草公司技术发展规划，上报总裁办审批并依照审批决议实施。</p>
					<p>2、负责公司核心技术平台的设计和开发工作，并负责在产品部门和实施部门的落地推广。</p>
					<p>3、参与评估公司重点项目技术难点，技术分析、攻关技术瓶颈。</p>
					<p>4、协助编写投标方案和咨询服务中相关的技术文档，并协助专业销售部门完成售前工作。</p>
					<p>5、负责技术相关文档的编写及核心代码的研发。</p>
					<p>6、负责与潜在客户/合作伙伴的方案讨论与技术交流。</p>
					<p>7、负责对相关开发人员进行所负责设计部分的培训和指导。</p>
					<p>8、负责对下属人员招聘做出决策，并参与重要岗位员工招聘工作。</p>
					<p>任职要求：</p>
					<p>1、5年以上软件开发工作经验，3年以上平台化架构设计工作经验，并具有技术开发运营团队管理经验。</p>
					<p>
						2、有良好的软件项目管理理论，熟悉企业信息化的相关软件解决方案、产品体系，负责参与过公司项目调研、编写软件需求说明等文档。
					</p>
					<p>
						3、深厚的技术背景，具有基于数据库、缓存、分布式架构、高性能、高可用应用和设计模式的知识和开发管理经验，需要5年以上的JAVA开发的实际工作经历，有多个中大型项目负责人的经验优先。
					</p>
					<p>4、熟悉Web服务端架构，熟练规划和配置Web应用服务器如Tomcat、WebLogic、JBOSS等。</p>
					<p>5、沟通协调能力强，执行力强，能承担高负荷的工作，有良好的团队合作精神和管理能力，责任心强、工作敬业、有很强的开拓精神。</p>
					<p>6、了解研发行业的发展及趋势，能及时掌握和了解当前主流及一些前沿的软件技术。</p>
				</div>
			</div>
			<div class="my-job">
				<h2>Java后台开发工程师</h2>
				<div>
					<p>职位描述：</p>
					<p>1、2年或以上实际java开发经验有较深厚的java基础知识。</p>
					<p>2、熟悉java技术特点，熟悉http等通信协议，熟悉B/S结构及相关技术，熟悉Java及Web的开发和应用。</p>
					<p>3、熟悉当前主流web容器。</p>
					<p>4、熟悉mysql/sql server数据库，能进行相关SQL优化。</p>
					<p>5、有spring、activeRecord、springmvc，struts2，jpa等实际应用技术优先。</p>
					<p>6、熟悉linux常用命令。</p>
					<p>7、较强的沟通理解能力，能够承受较大的压力。</p>
				</div>
			</div>
			<div class="my-job">
				<h2>ios开发工程师</h2>
				<div>
					<p>职位描述：</p>
					<p>1、参于业务需求设计讨论，基于iOS平台进行应用程序开发。</p>
					<p>2、负责iOS平台软件框架的研究，设计和实现、关键技术验证和选型等工作。</p>
					<p>3、负责 iOS 软件开发工作（代码编写，单元及系统测试，技术文档编写）。</p>
					<p>4、负责UI用户界面搭建和接口设计，及与第三方API接口整合的设计与实现。</p>
					<p>任职资格：</p>
					<p>1、本科及以上学历，计算机或相关专业。</p>
					<p>2、一年及以上iOS开发经验，并且已经在appStore有至少一款上线软件。</p>
					<p>3、扎实的Ojective C语言开发功底，熟悉Objective C和C/C++混编。</p>
					<p>4、精通 iOS 的并行开发、网络、内存管理、GUI开发等技术。</p>
					<p>5、熟练使用版本管理工具SVN、Git 等。</p>
					<p>6、精通JSON/XML，及TCP/UDP/HTTP的网络协议。</p>
					<p>7、有多个完整的 iOS项目经验，能独立进行Ios平台APP开发。</p>
					<p>8、优良的分析问题和解决问题的能力，对解决具有挑战性问题充满信心。</p>
					<p>9、具备良好的沟通能力和团队协作能力，能够独立思考，优化产品实现方式和代码结构。</p>
					<p>职位加分项:</p>
					<p>1、有跨平台开发经验者优先。</p>
					<p>2、自学能力强，能够熟练阅读英文文档，擅于学习新的技能。</p>
					<p>3、有做过开源项目的经验，能提供Github等账号地址者优先。</p>
					<p>4、能提供可展示个人做过的作品或项目地址者优先。</p>
				</div>
			</div>
			<div class="my-job">
				<h2>Android开发工程师</h2>
				<div>
					<p>岗位职责：</p>
					<p>1、根据需求和设计完成分配的模块开发。</p>
					<p>2、对开发任务成果进行代码自查和功能自查。</p>
					<p>3、配合测试完成功能和集成测试。</p>
					<p>4、完成研发部指派的相关学习和研究任务</p>
					<p>任职要求：</p>
					<p>1、精通Android开发平台及框架，一年以上实际开发经验。</p>
					<p>2、熟悉多线程、Socket或ACE等网络通信编程技术。</p>
					<p>3、熟悉机型适配，熟悉内存优化，熟悉线程的使用。</p>
					<p>4、对图片处理能力有一定的要求。</p>
					<p>5、有较好的沟通能力，积极主动，工作认真负责，有团队合作精神。</p>
				</div>
			</div>
			<div class="my-job">
				<h2>App/客户端推广专员（校园方向）</h2>
				<div>
					<p>岗位职责：</p>
					<p>1、负责手机客户端的校园推广计划 ，密切与学校社团及相关部门合作，共同策划执行活动。</p>
					<p>2、负责日常无线端（WAP/APP）的推广工作以及推广期间的合作谈判、执行与合作方的建立和维护。</p>
					<p>3、熟悉iOS和Android电子市场平台及App产品，对App的推广和运营有自己的认识。</p>
					<p>任职要求：</p>
					<p>1、专科及以上学历，了解手机客户端推广特性，有手机客户端推广工作经验者优先或者拥有学校资源、社团运营经验者优先。</p>
					<p>2、有发散性思维，具备良好的分析能力，善于观察细节。</p>
					<p>
						3、有强烈的进取精神和高度的责任心、事业心和坚韧的毅力，勇于承担责任，能够承受较大的工作压力，自学能力强，能够迅速掌握新的知识。
					</p>
				</div>
			</div>

			<div class="my-job">
				<h2>App/客户端推广专员（校园方向 兼职）</h2>
				<div>
					<p>岗位职责：</p>
					<p>1、负责执行手机客户端的校园推广计划 ，密切与学校社团及相关部门合作，共同策划执行活动。</p>
					<p>2、负责日常无线端（WAP/APP）的推广工作以及推广期间的合作谈判、执行与合作方的建立和维护。</p>
					<p>任职要求：</p>
					<p>1、大学在校学生，有社团运营经验者优先。</p>
					<p>2、有发散性思维，具备良好的分析能力，善于观察细节。</p>
					<p>3、有高度的责任心，能够承受较大的工作压力，自学能力强，能够迅速掌握新的知识。</p>
					<p>4、每周能够保证2-3个工作日来公司办公。</p>
				</div>
			</div>

			<div class="my-job">
				<h2>App/客户端推广专员（企业方向）</h2>
				<div>
					<p>岗位职责：</p>
					<p>1、负责手机客户端的企业推广计划，密切与企业公关部等相关部门合作，共同策划执行活动。</p>
					<p>2、负责日常无线端（WAP/APP）的推广工作以及推广期间的合作谈判、执行与合作方的建立和维护。</p>
					<p>3、熟悉iOS和Android电子市场平台及App产品，对App的推广和运营有自己的认识 。</p>
					<p>4、合作过程中，分析企业深层次需求，发现校企合作的其他可能性。</p>
					<p>任职要求：</p>
					<p>1、专科及以上学历，了解手机客户端推广特性，有手机客户端推广工作经验者或企业资源者优先。</p>
					<p>2、有发散性思维，具备良好的分析能力，善于观察细节。</p>
					<p>
						3、有强烈的进取精神和高度的责任心、事业心和坚韧的毅力，勇于承担责任，能够承受较大的工作压力，自学能力强，能够迅速掌握新的知识。
					</p>
				</div>
			</div>

			<div class="my-job">
				<h2>App/客户端推广专员（企业方向 兼职）</h2>
				<div>
					<p>岗位职责：</p>
					<p>1、负责执行手机客户端的企业推广计划，密切与企业公关部等相关部门合作，共同策划执行活动。</p>
					<p>2、负责日常无线端（WAP/App）的推广工作以及推广期间的合作谈判、执行与合作方的建立和维护。</p>
					<p>3、合作过程中，分析企业深层次需求，发现校企合作的其他可能性 。</p>
					<p>任职要求：</p>
					<p>1、大学在校学生，有社团运营经验者优先。</p>
					<p>2、有发散性思维，具备良好的分析能力，善于观察细节。</p>
					<p>3、有高度的责任心，能够承受较大的工作压力，自学能力强，能够迅速掌握新的知识。</p>
					<p>4、每周能够保证2-3个工作日来公司办公。</p>
				</div>
			</div>
		</div>
	</section>
	<section class="container">
		<div class="p-content my-contact clearfix">
			<div class="contact">
				<h3>
					<a href="mailto:hr@xiaoxiao.la">
						<div class="circle">加入我们</div>
					</a>
				</h3>
				<p>若你跟我们有相同的梦想，或者对我们感兴趣，欢迎你的加入</p>
				<p>请发送简历至hr@xiaoxiao.la</p>
			</div>
			<div class="contact">
				<h3>
					<a href="mailto:service@xiaoxiao.la">
						<div class="circle">联系我们</div>
					</a>
				</h3>
				<p>如果你对我们的产品有建议</p>
				<p>请发送邮件至service@xiaoxiao.la</p>
			</div>
		</div>
	</section>
<!-- section footer -->
{{include './partial/footer'}}