<div class="m-login-box">
	<div class="box-header image-back"></div>
	<div class="box-body">
		<form class="box-form">
			<div class="box-row">
				<input type="text" class="form-control" placeholder="手机/邮箱" id="userName" />
			</div>
			<div class="box-row">
				<input type="password" class="form-control" placeholder="密码" id="password" />
			</div>
			<div class="box-row">
				<button class="btn btn-primary btn-large btn-login" data-xx-action="login">登    录</button>
			</div>
		</form>
	</div>
	<div class="box-footer">
		<div class="box-row"></div>
	</div>
</div>