<div class="g-vote-container">
	<img src="images/sd_singer.jpg" />
	<div class="g-vote-header">上海大学十大歌手决赛投票系统</div>
	<div class="g-vote-footer">
		<div class="vote-description">
			<p>
				从10月1日到10月18日，针对十大歌手决赛的十位参赛选手，进行通过校校的投票。投票方式为每人可以每天对一位选手投一次票。
			</p>
			<p>
				投票结果：按照票数的高低从第一名到第十名分别给出10、9、9、8、8、7、7、6、6、5的附加分该附加分会直接计算到总分。在比赛的每一轮中，每位选手的得分为0-100分，在此基础上加上通过我们渠道给出的附加分，来决定每一轮的比赛结果。
			</p>
			<p class="warn">本次投票由校校团队提供，登录校校后即可进行投票。</p>
		</div>
		<div class="vote-btn-wrapper">
			<img src="images/sd_singer_btn.jpg" data-xx-action="goVote" />
		</div>
	</div>
</div>