<div class="g-vote-container">
	<img src="images/sd_singer.jpg" />
	<div class="g-vote-header">上海大学十大歌手决赛投票系统</div>
	<div class="g-vote-footer">
		<div class="vote-description">
			<p>上海大学第十九届校园十大歌手大赛的决赛将在10月17日晚在伟长楼开赛。</p>
			<p>
				即日起到10月17日中午12点，每人每天都可以投一次票。你的投票将会决定谁是本次大赛的人气选手。而且我们将会根据此次投票环节的票数高低决定选手的附加分值。
			</p>
			<p>
				附加分介绍：我们会按照票数的从高到低给出10-5分的附加分，该附加分将会直接与评委给出的分数结合，来决定决赛中每一轮的比赛结果。
			</p>
			<p class="warn">本次投票由校校团队提供，登录校校后即可进行投票。</p>
		</div>
		<div class="vote-btn-wrapper">
			<img src="images/sd_singer_btn.jpg" data-xx-action="goVote" />
		</div>
	</div>
</div>