<div class="m-login-box">
	<div class="box-header image-back"></div>
	<div class="box-body">
		<form class="box-form">
			<div class="box-row">
				<input type="text" class="form-control" placeholder="手机/邮箱" id="userName" data-xx-keyup-action="authUserNameType" data-xx-blur-action="authUserName" />
			</div>
			<div class="box-row off phone-only">
				<button class="btn btn-xx-theme btn-large btn-authcode" data-xx-action="getAuthCode">获取验证码</button>
			</div>
			<div class="box-row off phone-only">
				<input type="text" class="form-control" placeholder="手机验证码（6位数字）" id="authCode" />
			</div>
			<div class="box-row">
				<input type="password" class="form-control" placeholder="密码（6-23位）" id="password" />
			</div>
			<div class="box-row">
				<button class="btn btn-xx-theme btn-large btn-login" data-xx-action="signup">注    册</button>
			</div>
		</form>
	</div>
	<div class="box-footer">
		<div class="box-row clearfix">
			<a href="./login.html">返回登陆</a>
		</div>
	</div>
</div>