<!-- application template -->
<!-- section header -->
{{include './partial/header'}}
<!-- section content -->
<div class="wrapper responsive clearfix container0 vote-outer {{if mobile}}mobile{{/if}}">
	<div class="vote-wrapper">
		<div class="vote-avatar">
			<img src="images/default/1.png" />
			<div class="rank"><i>1</i></div>
		</div>
		<div class="vote-info-wrapper clearfix">
			<div class="vote-ticket-number">1234</div>
			<div class="vote-member-name">MT</div>
		</div>
		<div class="vote-btn-wrapper">
			<button class="btn btn-vote">我要投票</button>
		</div>
	</div>
	<div class="vote-wrapper">
		<div class="vote-avatar">
			<img src="images/default/1.png" />
			<div class="rank"><i>2</i></div>
		</div>
		<div class="vote-info-wrapper clearfix">
			<div class="vote-ticket-number">1234</div>
			<div class="vote-member-name">MT</div>
		</div>
		<div class="vote-btn-wrapper">
			<button class="btn btn-vote">我要投票</button>
		</div>
	</div>
	<div class="vote-wrapper">
		<div class="vote-avatar">
			<img src="images/default/1.png" />
			<div class="rank"><i>3</i></div>
		</div>
		<div class="vote-info-wrapper clearfix">
			<div class="vote-ticket-number">1234</div>
			<div class="vote-member-name">MT</div>
		</div>
		<div class="vote-btn-wrapper">
			<button class="btn btn-vote">我要投票</button>
		</div>
	</div>
	<div class="vote-wrapper">
		<div class="vote-avatar">
			<img src="images/default/1.png" />
		</div>
		<div class="vote-info-wrapper clearfix">
			<div class="vote-ticket-number">1234</div>
			<div class="vote-member-name">MT</div>
		</div>
		<div class="vote-btn-wrapper">
			<button class="btn btn-vote">我要投票</button>
		</div>
	</div>
	<div class="vote-wrapper">
		<div class="vote-avatar">
			<img src="images/default/1.png" />
		</div>
		<div class="vote-info-wrapper clearfix">
			<div class="vote-ticket-number">1234</div>
			<div class="vote-member-name">MT</div>
		</div>
		<div class="vote-btn-wrapper">
			<button class="btn btn-vote">我要投票</button>
		</div>
	</div>
	<div class="vote-wrapper">
		<div class="vote-avatar">
			<img src="images/default/1.png" />
		</div>
		<div class="vote-info-wrapper clearfix">
			<div class="vote-ticket-number">1234</div>
			<div class="vote-member-name">MT</div>
		</div>
		<div class="vote-btn-wrapper">
			<button class="btn btn-vote">我要投票</button>
		</div>
	</div>
	<div class="vote-wrapper">
		<div class="vote-avatar">
			<img src="images/default/1.png" />
		</div>
		<div class="vote-info-wrapper clearfix">
			<div class="vote-ticket-number">1234</div>
			<div class="vote-member-name">MT</div>
		</div>
		<div class="vote-btn-wrapper">
			<button class="btn btn-vote">我要投票</button>
		</div>
	</div>
	<div class="vote-wrapper">
		<div class="vote-avatar">
			<img src="images/default/1.png" />
		</div>
		<div class="vote-info-wrapper clearfix">
			<div class="vote-ticket-number">1234</div>
			<div class="vote-member-name">MT</div>
		</div>
		<div class="vote-btn-wrapper">
			<button class="btn btn-vote">我要投票</button>
		</div>
	</div>
</div>
<!-- section footer -->
{{include './partial/footer'}}