<!-- application template -->
<!-- section header -->
{{include './partial/header'}}
<!-- section content -->
<div class="wrapper responsive clearfix container0 vote-outer {{if mobile}}mobile{{/if}}">
	<div class="vote-header">
		<h1>{{vote.voteName}}</h1>
	</div>
	{{each options as option i}}
	<div class="vote-wrapper">

		<div class="vote-avatar">
			<a href="./voteplayer.html?vid={{option.option.voteId}}&pid={{option.option.id}}">
				<img src="api/vote/option/{{option.option.id}}/image" onerror="this.src='images/default/3.png';" />
			</a>
			{{if i
			< 3}}<div class="rank"> <i>{{i+1}}</i>
			</div>
			{{/if}}
		</div>
		<div class="vote-info-wrapper clearfix">
			<div class="vote-ticket-number">{{option.tickets}}</div>
			<div class="vote-member-name">{{option.option.optionName.split(',')[0]}}</div>
		</div>
		<div class="vote-btn-wrapper">
			<button class="btn btn-vote" data-xx-action="voteCast" data-value="{{option.option.id}}">我要投票</button>
		</div>
	</div>
	{{/each}}
</div>
<!-- section footer -->
{{include './partial/footer'}}